<?xml version="1.0" encoding="UTF-8"?>
<applications>
    <application
        name="DATABASE"
        class="com.epam.javacore2019.steve2.dbservice.DBApplication"
        port="6701"
    />
    <application
        name="WEBCLIENT"
        class="com.epam.javacore2019.steve2.webservice.WebClientApplication"
        port="6703"
    />
    <application
        name="APPSERVER"
        class="com.epam.javacore2019.steve2.appserver.ServerApplication"
        port="6702"
    />
</applications>
